.button
  bg-color #8cc63f
  color #ffffff
  fs 20px
  font-weight 700
  line-height 27px
  border 0
  pa 5px 10px
  text-transform uppercase
  border-radius 10px
  cursor pointer
  +media(from('sm'))
    pa 10px 20px
  +media(from('md'))
    pa 12px 40px
    font-size 26px
    w 250px
  +media(from('lg'))
    pa 18px 90px
    w 350px